/* ul li {
    list-style: none;
} */

/* .container-3{
    background-color: rgb(214, 213, 213);
    height: 90vh;
    
} */

/* .boxs{
    display: flex;
    justify-content:space-between;

} */

/* .buttons button{
    text-align: left;
    padding: 10px;
    background-color: white;
    border: none;
    margin: 10px;
    margin-right: 1rem;
    border-radius: 3px;
    color: gray;
} */

/* button span{
    color: black;
    font-weight: bolder;
} */

/* .content-table{
    display: flex;
    
} */

/* .table-content {
   
    width: 17rem;
   
    line-height: 2rem;
    flex: 20%;
    
} */


/* .table{
    flex: 80%
} */

