
/* 
.dashboard button{
  border: none;
  outline: none;
  padding: 1px;
  margin-left: 0.5rem;
  
  font-weight:normal;
  background-color: white;
  color: rgb(124, 120, 120);
  
} */

/* .dashboard h3{
    margin: 1px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
} */


/* .container-2{
    display: flex;
    margin-bottom: 0.5rem;
} */

/* .dropdown-2{
    margin-left: 5rem;
    display: flex;   
} */


/* .drop{
    width: 250px;
    margin-right: 2rem;
} */

/* .test-class{
    
    width: 300px;
    
} */

/* .search-bar{
    display: flex;
    justify-content:flex-end;
    width: 40rem;
    
   
} */